- require 'csv'
- spirits = {}
- %w[ gin vodka rum whiskey bourbon cognac bitter tequila ].each do |spirit|
  - spirits[spirit] = {}
  - CSV.foreach("/Users/mal/Code/github/suite/projects/suitebar/external/content/drinks/#{spirit}.csv", :quote_char => '"') do |row|
    - unless row.at 1
      - spirits[spirit][row.first] = []
    - else
      - spirits[spirit][spirits[spirit].keys.last] << row

#spirits.story.spirit.gin
  %h2.first Gin | Jenever | Genièvre
  %p ‘Drunk for a penny, Dead drunk for two pence, Clean straw for nothing!’ - A notice seen all around London in the 1730’s.
  - spirits["gin"].each do |variety, bottles|
    %table
      %thead
        %tr
          %th= variety
      %tbody
        - bottles.each do |bottle|
          %tr
            %td= bottle.at 0
            %td= bottle.at 1
            %td= bottle.at 2

  %h3.first Gin Flight:
  %p ‘Why Cucumbers Are Better Than Men’
  %p A hilariously named book by Risa Glickman. The cucumber represented by the Gin in the middle of this relationship - Hendricks. This modern Gin flight is showing off some more ‘modern’ styles of Gin where the master distiller will sometimes use unique botanicals (fruit/ herb/spice) to change the structure/flavour of the Gin. We start with London’s tea influenced Beefeater 24, then follow with Hendricks from Scotland, which uses rose and cucumber in its botanical mix, and finish with Geranium also from London that uses the geranium flower to add a unique and alternative flavour.
  %p.tasting-details Beefeater 24 | Hendricks Gin | Geranium Gin
  %p.tasting-price.last 28

.story.spirit.vodka
  %h2.first Vodka | Wódka | Bодка
  %p “Such people came to inhabit a new social layer: the lumpenproletariat, or to use the terminology of the time, the posadskaia golytba (urban poor) - those who were forever half-starved, spiteful, cruel, cynical, unfettered by any of the norms of the people in general, and whose energies could be directed into any channel for the price of a “bucket” of vodka.
  %p A paragraph used to describe drunkards in early 16th Century Russia. ‘A History of Vodka’ - William Pokhlebkin.

  - spirits["vodka"].each do |variety, bottles|
    %table
      %thead
        %tr
          %th= variety
      %tbody
        - bottles.each do |bottle|
          %tr
            %td= bottle.at 0
            %td= bottle.at 1
            %td= bottle.at 2

.story.spirit.cognac
  %h2.first Cognac | Eau de Vie | Brandy
  %p “Claret is the liquor for boys, port for men, but he who aspires to be a hero must drink brandy.” - Samuel Johnson

  - spirits["cognac"].each do |variety, bottles|
    %table
      %thead
        %tr
          %th= variety
      %tbody
        - bottles.each do |bottle|
          %tr
            %td= bottle.at 0
            %td= bottle.at 1
            %td= bottle.at 2
   
  %p.last.first ‘All our Cognacs are poured and priced to 45ml because we think 30mls just isn’t enough.’

.story.spirit.tequila
  %h2.first Tequila | Pulque | Mezcal
  %p R.I.P. Tomás “Tommy” Bermejo ~ 1932-2011

  - spirits["tequila"].each do |variety, bottles|
    %table
      %thead
        %tr
          %th= variety
      %tbody
        - bottles.each do |bottle|
          %tr
            %td= bottle.at 0
            %td= bottle.at 1
            %td= bottle.at 2

  %h3.first Tequila Flight:
  %p “White Lightning”
  %p A 1973 movie with Burt Reynolds. White Lightning being an old nickname for Blanco Tequila is an apt name for this flight of 3 Blanco’s. Starting with a lowland Arette Blanco, a touch floral but beautifully fresh and lead- ing into Don Julio Blanco, a spicy highland tequila with a touch of vanilla. Last on the list is Gran Centenario Plata, another highland tequila that is super smooth for a blanco style.
  %p.tasting-details Arette Blanco | Don Julio Blanco | Gran Centenario Plata
  %p.tasting-price.last 28

.story.spirit.rum
  %h2.first Rumbullion | Ron | Rhum
  %p “Such a day, rum all out - our company somewhat sober ,a damned confusion amongst us! Rogues a plotting - great talk of separation. So I looked sharp for a prize - such a day took one, with a great deal of liquor on board; so kept the company hot, damned hot, then all things went well again.” - Written in Edward Teach’s (Blackbeard) journal found aboard the Adventure.

  - spirits["rum"].each do |variety, bottles|
    %table
      %thead
        %tr
          %th= variety
      %tbody
        - bottles.each do |bottle|
          %tr
            %td= bottle.at 0
            %td= bottle.at 1
            %td= bottle.at 2

  %h3.first Rum Flight:
  %p ‘Dr. Mordough & Project B.R.A.I.N’
  %p A reference to the creation of Pinky & the Brain, one being short, smart and intense while the other is tall, open and easy going. This is represented in the Rum with a Column Still being the taller and a Pot Still being the shorter. The fl ight starts light with a Column distilled Havana 3yr straight from Cuba, then gets heaver with Flor de Cana 7yr from Nicaragua and fi nishes with a big Pot distilled (predominant) El Dorado 12yr from Guyana.
  %p.tasting-details Havana Club 3yr | Flor De Cana 7yr | El Dorado 12yr
  %p.tasting-price.last 26

.story.spirit.bourbon
  %h2.first Bourbon | Rye | Wheat
  %p
    “My daddy, he made whiskey
    %br
    My granddaddy, he did too
    %br
    We ain’t paid no whiskey tax since 1792”
  %p Line from a folk song written about the Whiskey Rebellion in the 1790’s.

  - spirits["bourbon"].each do |variety, bottles|
    %table
      %thead
        %tr
          %th= variety
      %tbody
        - bottles.each do |bottle|
          %tr
            %td= bottle.at 0
            %td= bottle.at 1
            %td= bottle.at 2

  %h3.first American Flight:
  %p “Yet all the lads they smile on me, When comin’ thro’ the rye”
  %p Comin’ Through the Rye, a poem written in 1782 by Robert Burns. This flight takes us from Bourbon through the Rye and back to Bourbon again. We start with Makers Mark from Loretto, which is known as a sweeter Bourbon due to no Rye being present in the mash bill (Corn & Wheat predominant). Next on our list is a Rye Whisky, Rittenhouse 100 Proof from Bardstown. Here there is much more spice present and a bigger, meatier ABV too. Lastly we return to Bourbon with the Elijah Craig 12yr from Bardstown. This Bourbon is big, beautiful, hot and bares the name of the father of Bourbon Rev. Elijah Craig.
  %p.tasting-details Makers Mark | Rittenhouse 100 Proof | Elijah Craig 12yr
  %p.tasting-price.last 25

.story.spirit.whiskey
  %h2.first Whiskey | Whisky | Uisce Beatha
  %p ‘To Friar John Cor, by order of the King, to make aqua vitae VIII bolls of malt.’ The earliest documented record of distilling in Scotland - Exchequer Rolls 1494.

  - spirits["whiskey"].each do |variety, bottles|
    %table
      %thead
        %tr
          %th= variety
      %tbody
        - bottles.each do |bottle|
          %tr
            %td= bottle.at 0
            %td= bottle.at 1
            %td= bottle.at 2

  %h3.first Whiskey Flight:
  %p ‘Orphans: Brawlers, Bawlers & Bastards’
  %p Named after a random Tom Waits album of all his forgotton/lost/odd/orphaned tracks. These whiskys follow the same theme, odd/different/unrecognised. The Hedonism is a frowned upon Grain Whisky from Scotland with a very light palate; the Yamazaki a light, fl oral, great from Japan; and Amrut hailing from India, with its unique style almost representative of somewhere between Speyside & Highland with a huge ABV.
  %p.tasting-details Compass Box Hedonism | Yamazaki 12yr | Amrut Fusion
  %p.tasting-price.last 40

.story.spirit.bitter
  %h2.first Bitter | Digestif | Apéritifs
  %p Ok, if I say to you Fernet Branca, what is it? Yeah, it does the job but ohh how it tastes. - Bill Cosby

  - spirits["bitter"].each do |variety, bottles|
    %table
      %thead
        %tr
          %th= variety
      %tbody
        - bottles.each do |bottle|
          %tr
            %td= bottle.at 0
            %td= bottle.at 1
            %td= bottle.at 2

  %p.last

