- require 'csv'
- whites = {}
- CSV.foreach("/Users/mal/Code/github/suite/projects/suitebar/external/content/drinks/wine-white.csv", :quote_char => '"') do |row|
  - unless row.at 1
    - whites[row.first] = []
  - else
    - whites[whites.keys.last] << row

- reds = {}
- CSV.foreach("/Users/mal/Code/github/suite/projects/suitebar/external/content/drinks/wine-red.csv", :quote_char => '"') do |row|
  - unless row.at 1
    - reds[row.first] = []
  - else
    - reds[reds.keys.last] << row

#wine.story.white-wine.wine
  %h2.first The Whites
  - whites.each do |variety, wines|
    %table
      %thead
        %tr
          %th
          %th=variety
          - if variety == "Sparkling, Prosecco & Champagne"
            %th.size 150ml
            %th.size 750ml
          - else
            %th.size
            %th.size
      %tbody
        - wines.each do |wine|
          %tr
            %td=wine.at 0
            %td
              =wine.at 1
              %br
              %span= wine.at 2
            %td.price= wine.at(3)
            %td.price= wine.at(4)
  %p.last
.story.red-wine.wine
  %h2.first The Reds
  - reds.each do |variety, wines|
    %table
      %thead
        %tr
          %th
          %th=variety
          - if variety == "Youthful, Light - Red"
            %th.size 150ml
            %th.size 750ml
          - else
            %th.size
            %th.size
      %tbody
        - wines.each do |wine|
          %tr
            %td=wine.at 0
            %td
              =wine.at 1
              %br
              %span= wine.at 2
            %td.price= wine.size == 5 ? wine.at(3) : nil
            %td.price= wine.size == 5 ? wine.at(4) : wine.at(3)

  %p.last
