.menu-container
  #main-menu.about-1
    .hint
    /%a.menu-item.menu-music{ href: "#music" }
    /%h2 Music
    /%img{ src: '/assets/images/m/music.png'}
    %a.menu-item.menu-awards{ href: "#awards" }
      %h2 Awards
      = image_tag 'm/awards.png'
    %a.menu-item.menu-spirits{ href: "#spirits" }
      %h2 Spirits
      = image_tag 'm/spirits.png'
    %a.menu-item.menu-cocktails{ href: "#cocktails" }
      %h2 Cocktails
      = image_tag 'm/cocktails.png'
    %a.menu-item.menu-food{ href: "#food" }
      %h2 Food
      = image_tag 'm/food.png'
    %a.menu-item.menu-beer{ href: "#beer" }
      %h2 Beer
      = image_tag 'm/beer.png'
    %a.menu-item.menu-wine{ href: "#wine" }
      %h2 Wine
      = image_tag 'm/wine.png'
    %a.menu-item.menu-people{ href: "#people" }
      %h2 People
      = image_tag 'm/people.png'
#about.story.about-2
  %h2.first A Little Bit About Suite
  %p Suite is a cocktail bar that was established in early 2006 with the desire to showcase the finest local products and people, at an international standard, but in a local context.  It is located in the central business district of downtown Auckland, New Zealand.
  %p Bored of the sameness of many of the other bars around, Suite is an intimate underground cocktail bar with a real point of difference.  The venue is intimate, with a capacity of 130, and is well regarded for its highly trained and friendly staff, for its drinks innovation, and its broad range of high quality spirits. 
  %p Suite prides itself in having no contracts with large breweries and alcohol companies, and as a result has a vast range of New Zealand Craft Beers, interesting Wines, and rare and wonderful Spirits. With a seasonal Cocktail and Food menu, Suite provides a great opportunity to sample the best of New Zealand.   We make many of our own in-house products, including bitters, syrups and reductions which are used to add flavour to our newly invented cocktails
  %p Suite is the most awarded Bar in New Zealand.  It is currently Hospitality New Zealand’s ‘Best Bar’, and was also a finalist in the 2012 Lewisham Awards for Best Bar, Hospitality Personality, and Bartender of the year.
  %p.last The bar is a perfect venue for private parties or work functions, and we have run many great events at the bar over the past years, including birthday celebrations, brand launches, engagement parties and a variety of corporate events.

