#people.people.story
  %h2 People | Staff
  %h3 David "Hawkeye" Hawk
  %p
    %a{ href: "#{Suite.project.asset_path}/images/people/dave-large.jpg" }
      = image_tag 'people/dave-small.jpg'
  %p Owner of Suite Bar since its beginnings more than 6 years ago, he is a legend in the industry &amp; has been in the business for over half his life. You will often find Hawkeye at the Bar chatting to the regulars or total strangers (soon to become friends). David is passionate about the business and developing people within the industry, and was a finalist in this year’s prestigious Lewisham Awards for ‘Outstanding Hospitality of the Year’, and award he won back in 2008.  With a background in Environmental Law and a passion for local products and people, David is regularly approached for consultancy around the launch of new products into the market. He is excited about getting two of his own new projects to market in 2012, a range of Pies – Ka Pie – and a range of carbonated sodas – Cool As Soda.
  %h4 Top 3 Libations
  %ol
    %li Cognac
    %li A Great Glass of Wine From anywhere in the world
    %li Pastis
  %h3 Nick "Dancefloor" Seeherr
  %p
    %a{ href: "#{Suite.project.asset_path}/images/people/nick-large.jpg" }
      =image_tag 'people/nick-small.jpg'
  %p
    Nick is our Events &amp; Operations Manager, but is better known for his dance moves.  Nick is the glue that makes things happen behind scenes, but is not afraid to jump behind the stick and whip up a killer Sazerac if required. Nick was one of the first full time Bartenders at Suite in 2006 and again in 2009 but has essentially now hung up his bar blade to help run, develop and maintain the business, as well as delivering the numerous off-site events that Suite Events provides the bar services for. Nick has his head down with the Pie and Soda ventures taking over his already busy life.
  %h4 Top 3 Libations
  %ol
    %li Sazerac
    %li Ngahere Gold
    %li Malibu &amp; Milk

  %h3 James "Red-Beard" Goggin
  %p
    %a{ href: "#{Suite.project.asset_path}/images/people/goggin-large.jpg" }
      = image_tag 'people/goggin-small.jpg'
  %p James is the Bar Manager, Captain and Leader of the coalface team at Suite. With an unhealthy obsession for pirates and his cheeky Irish charm, he's the perfect guy to make you a drink that you know and love, or offer a range of alternatives from his encyclopedic drinks knowledge. He is highly skilled and can walk you through hundreds of drinks with ease. James is a multi-award winning Bartender, whose specialty is coming second at major National and International Bartending competitions. He is one of the leading Bartenders in New Zealand, and is recently back from his second trip to Tales of the Cocktail in New Orleans, the preemininent annual international bartending conference.  Come down and have a yarn about booze he'll talk your ear off.
  %h4 Top 3 Libations
  %ol
    %li El Dorado
    %li Mezcal
    %li Fernet


  %h3 Barney ‘Short-arms’ Toy
  %p
    %a.barney{ href: "#{Suite.project.asset_path}/images/people/barney-large.jpg" }
  %p Born in Sheffield, and having resided in New Zealand for the last five years, Barney is the Head Bartender at Suite, and James sidekick. With a penchant for fun cocktails, impressive garnishes, and a ‘Queer eye for a straight Guy’ skill for interior design, Barney takes responsibility for the overall styling/design of the Bar, as well as being an institution behind the Bar.  Barney recently won the Appletons Estate Bartender of the Year competition, and is a finalist this year in the 42 Below Cocktail World Cup quest to select the top three NZ bartenders to represent New Zealand at this now famous annual event.
  %h4 Top 3 Libations
  %ol
    %li Dark and Stormy
    %li Manhattan
    %li Cider

